rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /comprovantes/{gastoId}/{fileName} {
      allow read, write: if request.auth != null &&
        request.auth.uid in ['8WaJbLFwaXPzRGO30QYr3RjLL9E2', 'MrWON54UtMNsO6mLSTmShm3QiGz2'] &&
        request.resource.size < 10 * 1024 * 1024 &&
        request.resource.contentType.matches('image/.*|application/pdf');
    }
  }
}
